<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <title>Register | Flask</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
  <header style="padding: 15px; background: #264361; text-align:right">
      <img src="/static/1.svg" alt="Miriani"">
      <h1 style="float: left; color: white;">
          <a href="http://192.168.1.5:5000/#index.html" style="color: white;">
              RIGHTNAO    
          </a>
      </h1>
  </header>
    <div class="container">
            <img src="{{data['photo']}}" alt="Was not able to import picture" style="width: 200px; height: auto;">
        <div class="row" style="margin-top: 40px">
            <div class="col-sm-6">
                <form method="POST">
                    <div class="form-group">
                      <label for="email">Name : </label>
                      <input type="text" name="name" class="form-control" id="name" value="{{data['name']}}">
                    </div>

                    <div class="form-group">
                        <label for="email">Username : </label>
                        <input type="text" name="uname" class="form-control" id="uname" required value="{{data['username']}}">
                    </div>

                    <div class="form-group">
                        <label for="email">Password : </label>
                        <input type="text" name="password" class="form-control" id="password" required value="{{data['password']}}">
                    </div>

                    <div class="form-group">
                      <label for="email">Email : </label>
                      <input type="email" name="email" class="form-control" id="email" required value="{{data['email']}}">
                    </div>
                    
                    <div class="form-group">
                      <label for="email">Phone : </label>
                      <input type="text" name="phone" class="form-control" id="phone" required value="{{data['phone']}}">
                    </div>

                    <div class="form-group">
                        <label for="email">Country : </label>
                        <input type="text" name="country" class="form-control" id="country" value="{{data['country']}}" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Birth Date : </label>
                        <input type="text" name="bdate" class="form-control" id="bdate" value="" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Gender : </label>
                        <br>
                        <select name="gender" id="gender" method="GET" action="/" class="form-control" required>
                            <option value="male" SELECTED >male</option>
                            <option value="female">female</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="email">Headline : </label>
                        <input type="text" name="headline" class="form-control" id="headline" value="{{data['headline']}}">
                    </div>
                    
                    <div class="form-group">
                        <label for="email">Number of Connections : </label>
                        <input type="text" name="nconnections" class="form-control" id="nconnections" value="{{data['number_of_connections']}}">
                    </div>

                    <div class="form-group">
                        <label for="email">About : </label>
                        <input type="text" name="about" class="form-control" id="about" value="{{data['about']}}">
                    </div>

                    <div class="form-group">
                        <label for="email" style="font-size:x-large;">Experience : </label>
                        <br>
                        {% for each in data['experience'] %}
                        <img src="{{each['company_logo']}}" alt="Here goes company logo">
                        <input type="text" name="company" class="form-control" id="company" value="{{each['company']}}">
                        <input type="text" name="position" class="form-control" id="position" value="{{each['position']}}">
                        <input type="text" name="time" class="form-control" id="time" value="{{each['time']}}">
                        <br>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label for="email" style="font-size:x-large;">Education : </label>
                        <br>
                        {% for each in data['education'] %}
                        <img src="{{each['institution_logo']}}" alt="Here goes university's logo">
                        <input type="text" name="university" class="form-control" id="university" value="{{each['institution']}}">
                        <input type="text" name="major" class="form-control" id="major" value="{{each['major']}}">
                        <input type="text" name="years" class="form-control" id="years" value="{{each['years']}}">
                        <input type="text" name="activities" class="form-control" id="activities" value="{{each['activities']}}">
                        <br>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label for="email">Languages : </label>
                        {% for each in data['language'] %}
                        <input type="text" name="language" class="form-control" id="language" value="{{each['language']}}">
                        <input type="text" name="proficiency" class="form-control" id="proficiency" value="{{each['proficiency']}}">
                        <br>
                        {% endfor %}
                    </div>
                    
                    <div class="form-group">
                        <label for="email">ID (DO NOT CHANGE!!!) : </label>
                        <input type="text" name="_id" class="form-control" id="_id" value="{{data['_id']}}">
                    </div>

                    
                    <button type="submit" class="btn form-control btn-success">Register User</button>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>